html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h1 {
  font-family: "Inconsolata", Consolas, monospace;
  font-size: 3em;
  color: gray;
  margin-top: 70px;
}
.typing {
  position: relative;
}

.typing::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  color: white;
  background: #e0e0e0;
  animation: typing 4s steps(16) forwards, caret 1s infinite;
}

@keyframes typing {
  to {
    width: 0;
  }
}
@keyframes caret {
  50% {
    color: transparent;
  }
}
.css-1jbbcbn-MuiDataGrid-columnHeaderTitle{
  font-weight: bold !important;
  font-size: 17px;
}

.iEvsvB{
  margin: 0 15px !important;
}